
@media  (max-width: 991px) {
    .banner {
        height: auto;
        padding: 100px 0;
    }
    /* .banner__left {
        margin-bottom: 100px;
    } */
    .banner__title, .blog__modal_title {
        font-size: 36px;
        line-height: 45px;
    }
    .testimonial__card {
        width: calc(960px / 2);
    }
    .social__area {
        align-items: center
    }
}
@media (max-width: 768px) {
    /* .banner {
        height: auto;
        padding-top: 100px;
        padding-bottom: 0;
    } */
    .testimonial__card {
        width: 100%;
    }
    .banner__right img {
        border: none;
    }
    .portfolio__wrappper {
        position: relative;
        gap: 10px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .portfolio__content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .portfolio__menu {
        max-width: 100%;
        overflow-x: scroll;
    }
    .portfolio__wrappper::before, .portfolio__wrappper::after {
        position: absolute;
        content: "";
        width: 25px;
        height: 100%;
        border-radius: 4px;
        display: inline-block;
    }
    .portfolio__wrappper::before {
        left: -1px;
        background: linear-gradient(90deg, var(--colorBefore), 80%, transparent);
    }
    .portfolio__wrappper::after {
        right: -1px;
        background: linear-gradient(-90deg, var(--colorAfter), 80%, transparent);
    }
    .portfolio__menu::-webkit-scrollbar {
        display: none;
    }
    .portfolio__menu .menu__item {
        user-select: none;
        cursor: grab;
    }
    .portfolio__wrappper img {
        display: block;
    }
    .price__body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .blog__body {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .contact__right, .contact__left {
        border: none;
    }
}
@media (max-width: 576px) {
    .banner__title, .blog__modal_title {
        font-size: 30px;
        line-height: 38px;
    }
    .blog__modal_body, .services__modal_body {
        padding-left: 0;
        padding-right: 0;
        border: 0;
    }
}
/*=========================
    MEDIA QUERIES END 
==========================*/

/* 
992 f-36 l-45
576 f-30 l-38
*/